In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("all_sample_9_genes.csv", sep= ",")

In [5]:
df.head(3)

,sample,X202119_s_at,X202887_s_at,X203523_at,X206310_at,X213241_at,X223044_at,X226545_at,X228365_at,X235046_at,geo_accession,osi,os,efs,age,group,risk,karyotype
0,GSM158718.CEL.gz,9.705252,7.655903,8.494839,11.318586,7.674142,11.245638,6.570879,8.729306,5.965201,GSM158718,dead,540,9.66,30 years,P,P,11q23
1,GSM158723.CEL.gz,9.680109,10.901593,10.896339,11.327894,9.004220,10.744858,6.756322,7.476108,5.881407,GSM158723,dead,219,6.54,60 years,P,P,-5/7(q)
2,GSM158736.CEL.gz,10.609126,11.052468,12.025809,10.030036,10.615579,10.935581,8.095537,7.786431,7.396956,GSM158736,dead,294,9.79,41 years,P,P,NN

In [6]:
df2 = pd.read_csv("glmnet_coeficent.csv", sep=" ")
df2.sort_values(by= ["coefficient"])

           name  coefficient
5    X223044_at     0.000915
1  X202887_s_at     0.021612
2    X203523_at     0.034406
4    X213241_at     0.048353
3    X206310_at     0.054453
8    X235046_at     0.055418
7    X228365_at     0.058582
0  X202119_s_at     0.075506
6    X226545_at     0.087568

In [7]:
df2 = df["X202119_s_at"]
df2.to_csv("X202119_s_at_expression.csv", sep=",")

In [8]:
df2 = pd.read_csv("X202119_s_at_expression.csv", sep=",")

In [9]:
df2["X202119_s_at"] = 0.075506 * df2["X202119_s_at"]

In [10]:
df2

     Unnamed: 0  X202119_s_at
0             0      0.732805
1             1      0.730906
2             2      0.801053
3             3      0.777451
4             4      0.781217
..          ...           ...
442         442      0.731547
443         443      0.738427
444         444      0.785632
445         445      0.750853
446         446      0.731757

[447 rows x 2 columns]

In [11]:
df2.to_csv("expr_coefficient_X226545_at.csv", sep=",")

In [12]:
df3 =pd.read_csv("expr_coefficient_X226545_at.csv", sep=",")
df3 =df3.set_index("sample")
df3

                  X202119_s_at
sample
GSM158718.CEL.gz      0.732805
GSM158723.CEL.gz      0.730906
GSM158736.CEL.gz      0.801053
GSM158737.CEL.gz      0.777451
GSM158740.CEL.gz      0.781217
...                        ...
GSM159165.CEL.gz      0.731547
GSM159167.CEL.gz      0.738427
GSM159168.CEL.gz      0.785632
GSM159170.CEL.gz      0.750853
GSM159171.CEL.gz      0.731757

[447 rows x 1 columns]

In [14]:
df3["score"] = df3["X202119_s_at"]
df3

                  X202119_s_at     score
sample
GSM158718.CEL.gz      0.732805  0.732805
GSM158723.CEL.gz      0.730906  0.730906
GSM158736.CEL.gz      0.801053  0.801053
GSM158737.CEL.gz      0.777451  0.777451
GSM158740.CEL.gz      0.781217  0.781217
...                        ...       ...
GSM159165.CEL.gz      0.731547  0.731547
GSM159167.CEL.gz      0.738427  0.738427
GSM159168.CEL.gz      0.785632  0.785632
GSM159170.CEL.gz      0.750853  0.750853
GSM159171.CEL.gz      0.731757  0.731757

[447 rows x 2 columns]

In [15]:
df3['score'].median()

0.729024805156983

In [16]:
df3['Expression'] = df3['score'] > 0.729024805156983

In [17]:
df3.to_csv("km_X202119_s_at.csv", sep=",")

In [18]:
df3

                  X202119_s_at     score  Expression
sample
GSM158718.CEL.gz      0.732805  0.732805        True
GSM158723.CEL.gz      0.730906  0.730906        True
GSM158736.CEL.gz      0.801053  0.801053        True
GSM158737.CEL.gz      0.777451  0.777451        True
GSM158740.CEL.gz      0.781217  0.781217        True
...                        ...       ...         ...
GSM159165.CEL.gz      0.731547  0.731547        True
GSM159167.CEL.gz      0.738427  0.738427        True
GSM159168.CEL.gz      0.785632  0.785632        True
GSM159170.CEL.gz      0.750853  0.750853        True
GSM159171.CEL.gz      0.731757  0.731757        True

[447 rows x 3 columns]